__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
beelzecookie_pkg/
beelzecookie_package/
beelzecookie.egg-info/
venv/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
simple_test.py
test_example.py
dist/
